body{
    background-color: #fff;
    color:#303030;
    display: flex;
}
h1{
    margin-top: 200px;
    margin-bottom: 60px;
}

.tut{
   padding-top: 60px;
   padding-left: 45px;
}

.b{
    background-color: blue;
    width: 52px;
    height: 52px;
    z-index: 20px;
    border-radius:100%;
    content: "";
    float: right;
}

.men{
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 20;
    margin-top: 50px;

}
.men .ba1 { 
    width: 30px;
    height: 3px;
    background-color: #111;

}
.men .ba2 { 
    width: 20px;
    height: 3px;
    background-color: #111;
    margin-top: 3px;
}

.pp{
    width: 140px;
    height: 40px;
    font-size: 20px;
    content: "";
    float: left;
    margin-bottom: 30px;
}
.en{
    width: 60px;
    height: 30px;
    font-size: 18; 
    background-color: darkgrey;
    border-radius: 30%;
    content: "";
    float: right;
    margin-right: 30px;
}
.ad{
    width: 60px;
    height: 30px;
    font-size: 18px;
    background-color: darkblue;
    border-radius: 30%;
    content: "";
    float: right;
}
p{
    margin: 40px;
    font-size: 14px;
    color: white;
}
.s2{
     
    float: left;
}
.co{
    display: inline-block;
    width: 130px;
    height: 210px;
    background-color: rgb(235, 94, 117);
    border-radius: 20%;
}
.rh{
    display: inline-block;
    width: 130px;
    height: 210px;
    background-color: rgb(29, 32, 221);
    border-radius: 20%;
   
    
}
.rhu{
    display: inline-block;
    width: 130px;
    height: 210px;
    background-color: rgb(228, 112, 58);
    border-radius: 20%;
    position: absolute;
}
.p0{
    margin-top: 4px;
    margin-left: 4px;
}
.p01{
    margin-top: 4px;
    margin-left: 4px; 
}
h3{
    clear: both;
}
h4{
    content: "";
    float: right;
    width: 68px;
}
section{
    display: flex;
}

.f0{
    background-color: rgb(14, 153, 247);
    width: 54px;
    height: 54px;
    z-index: 20px;
    border-radius:100%;
    display: inline-block;
}

.f1{
    background-color: rgb(201, 57, 105);
    width: 54px;
    height: 54px;
    z-index: 20px;
    border-radius:100%;
    display: inline-block;
}
.m0{
    width: 40%;
    height: 94px;
}
.m1{
    width: 40%;
    height: 94px;
    content: "";
    float: right;
    margin-left: 20px;
}